dj-database-url==2.3.0
Django==4.2.11
django-allauth==65.1.0
django-cors-headers==4.4.0
django-environ==0.11.2
gunicorn==23.0.0
psycopg==3.2.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
selectolax==0.3.27
sqlparse==0.5.1
urllib3==2.2.2
wheel==0.43.0
whitenoise==6.8.2