{% extends 'store/base.html' %}
{% load static %}

{% block content  %}
    <section id="billboard" class="position-relative overflow-hidden bg-light-blue">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">Les meilleurs produits tech.</h1>
                    <a href="{% url 'shop' %}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Découvrir la boutique</a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="image-holder">
                    <img src="{% static 'images/banner-image.png' %}" alt="bannière" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="company-services" class="padding-large">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="cart-outline">
                  <use xlink:href="#cart-outline" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Livraison gratuite</h3>
                <p>Profitez de la livraison offerte en France métropolitaine dès 50€ d'achat.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="quality">
                  <use xlink:href="#quality" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Garantie qualité</h3>
                <p>Tous nos produits sont garantis 2 ans et rigoureusement sélectionnés.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="price-tag">
                  <use xlink:href="#price-tag" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Offres quotidiennes</h3>
                <p>Découvrez chaque jour de nouvelles promotions exclusives.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="shield-plus">
                  <use xlink:href="#shield-plus" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Paiement sécurisé</h3>
                <p>Vos transactions sont 100% sécurisées avec le cryptage SSL.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
      <div class="container">
        <div class="row">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase">Smartphones</h2>
            <div class="btn-right">
              <a href="{% url 'shop' %}" class="btn btn-medium btn-normal text-uppercase">Voir tout</a>
            </div>
          </div>
          <div class="swiper product-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-card position-relative">
                  <div class="image-holder">
                    <img src="{% static 'images/product-item1.jpg' %}" alt="smartphone" class="img-fluid">
                  </div>
                  <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                    <h3 class="card-title text-uppercase">
                      <a href="#">iPhone</a>
                    </h3>
                    <span class="item-price text-primary">980 €</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card position-relative">
                  <div class="image-holder">
                    <img src="{% static 'images/product-item2.jpg' %}" alt="smartphone" class="img-fluid">
                  </div>
                  <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                    <h3 class="card-title text-uppercase">
                      <a href="#">iPhone 11</a>
                    </h3>
                    <span class="item-price text-primary">1100 €</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination position-absolute text-center"></div>
    </section>

    <section id="smart-watches" class="product-store padding-large position-relative">
      <div class="container">
        <div class="row">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase">Montres Connectées</h2>
            <div class="btn-right">
              <a href="{% url 'shop' %}" class="btn btn-medium btn-normal text-uppercase">Voir tout</a>
            </div>
          </div>
          <div class="swiper product-watch-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-card position-relative">
                  <div class="image-holder">
                    <img src="{% static 'images/product-item6.jpg' %}" alt="montre connectée" class="img-fluid">
                  </div>
                  <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                    <h3 class="card-title text-uppercase">
                      <a href="#">Apple Watch Rose</a>
                    </h3>
                    <span class="item-price text-primary">870 €</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card position-relative">
                  <div class="image-holder">
                    <img src="{% static 'images/product-item7.jpg' %}" alt="montre connectée" class="img-fluid">
                  </div>
                  <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                    <h3 class="card-title text-uppercase">
                      <a href="#">Apple Watch Pro</a>
                    </h3>
                    <span class="item-price text-primary">680 €</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination position-absolute text-center"></div>
    </section>

    <section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge" style="background: url('{% static 'images/single-image1.png' %}') right center no-repeat;">
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6 col-sm-12">
          <div class="text-content offset-4 padding-medium">
            <h3>-10% sur tout</h3>
            <h2 class="display-2 pb-5 text-uppercase text-dark">Soldes d'hiver</h2>
            <a href="{% url 'shop' %}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Voir les offres</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
        </div>
      </div>
    </section>

    <section id="latest-blog" class="padding-large">
      <div class="container">
        <div class="row">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase">Derniers Articles</h2>
            <div class="btn-right">
              <a href="{% url 'home' %}" class="btn btn-medium btn-normal text-uppercase">Voir le blog</a>
            </div>
          </div>
          <div class="post-grid d-flex flex-wrap justify-content-between">
            <div class="col-lg-4 col-sm-12">
              <div class="card border-none me-3">
                <div class="card-image">
                  <img src="{% static 'images/post-item1.jpg' %}" alt="Article gadgets" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">22 fév 2023</span>
                  <span class="meta-category">- Gadgets</span>
                </div>
                <h3 class="card-title">
                  <a href="#">Les meilleurs gadgets tech de 2023</a>
                </h3>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="card border-none me-3">
                <div class="card-image">
                  <img src="{% static 'images/post-item2.jpg' %}" alt="Article technologie" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">25 fév 2023</span>
                  <span class="meta-category">- Technologie</span>
                </div>
                <h3 class="card-title">
                  <a href="#">Astuces tech à ne pas manquer</a>
                </h3>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="card border-none me-3">
                <div class="card-image">
                  <img src="{% static 'images/post-item3.jpg' %}" alt="Article caméras" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">22 fév 2023</span>
                  <span class="meta-category">- Photo</span>
                </div>
                <h3 class="card-title">
                  <a href="#">Top 10 des mini-caméras compactes</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
